{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "chrome": "69",
          "node": 10
        }
      }
    ]
  ],
  "plugins": [
    [
      "component",
      {
        "libraryName": "element-ui",
        "styleLibraryName": "theme-chalk"
      }
    ]
  ]
}
