body{
    background: #fff0;
    overflow: hidden;

}

#main{
    border-radius: 15px;
    background: #fff;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#lib {
    top: 50px;
    user-select: none;
    position: absolute;
    background: #fff;
}

#lib a{
    margin: 10px;
    text-align: center;
    vertical-align: middle;
    width: 150px;
    height: 250px;
    display: inline-block;
    border: 1px solid;
    border-radius: 10px;
}

#lib a:hover{
    background: rgb(200, 200, 200);
}

#lib img{
    display: inline-block;
    height: 200px;
    width: 150px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
