@font-face{
    font-family: Bookerly;
    src: url("font/Bookerly-Regular.ttf");
}

body {
    background: rgba(0,0,0,0);
    overflow: hidden;
    font-family: Quicksand;
    box-sizing: border-box;
    scroll-behavior: smooth;
    border: 1px solid #303030;
}

#main {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border-radius: 15px;
    overflow: hidden;
}