.light {
    background: #fff;
    color: #000;
}

.dark {
    background: lightgoldenrodyellow;
    /* color: #fff; */
    /* border: 1px solid #f1f1f1; */
}

.dark a{
    /* color: rgb(241, 205, 0); */
}
