#titlebar {
    top: 0px;
    height: 35px;
    padding-top: 5px;
    position: relative;
    color: #000;
    vertical-align: middle;
    margin: auto;
    text-align: center;
    -webkit-app-region: drag;
    overflow: hidden;
    z-index: 5;
    user-select: none;
    background: #fff;
}

#titlebar #left {
    margin-left: 5px;
    float: left;
}

#titlebar #center {
    display: inline-block;
    vertical-align: -10px;
}

#titlebar #right {
    float: right;
    margin-right: 5px;
}

#titlebar a {
    width: 20px;
    height: 20px;
    overflow: hidden;
    padding: 5px;
    cursor: pointer;
    -webkit-app-region: no-drag;
    border-radius: 100%;
    opacity: 1;
}

#titlebar a:hover {
    background-color: rgba(200, 200, 200);
}

#titlebar a:active {
    /*opacity: 1;*/
    color: rgba(0,0,0,.6);
}

#search-box{
    border: 1px solid rgb(151, 151, 151);
    border-radius: 40px;
    vertical-align: 10px;
    padding-left: 10px;
    padding-right: 10px;
    -webkit-app-region: no-drag;
    height: 25px;
    display: none;

}

#search-box:focus{
    outline: none;
    border: 1px solid rgb(63, 63, 63);
}

.icon-back{ content: url('../img/back.svg')}
.icon-library{ content: url('../img/library.svg')}
.icon-add { content: url('../img/library-plus.svg') }
.icon-settings { content: url('../img/settings.svg'); }
.icon-search { content: url('../img/search.svg'); }
.icon-fullscreen-full { content: url('../img/fullscreen.svg') }
.icon-fullscreen-small { content: url('../img/fullscreen-exit.svg') }
.icon-minimize{ content: url('../img/minimize.svg') }
.icon-maximize{ content: url('../img/maximize.svg') }
.icon-maximize-exit{ content: url('../img/maximize-exit.svg') }
.icon-close{ content: url('../img/close.svg');}
.icon-theme{ content: url('../img/theme.svg');}
.icon-bookmark-empty{ content: url('../img/bookmark.svg') }
.icon-bookmark{ content: url('../img/bookmark-off.svg') }
